.story-button-container {
  background-color: blue;
  margin: 20px;

  &.lg {
    width: 40px;
  }
  &.md {
    width: 30px;
  }
  &.sm {
    width: 20px;
  }

  &.has-seen {
    background-color: red;

    .name {
      color: #8e8e8e;
    }
  }

  .user-icon-container {
  }

  .name {
    color: #262626;
  }
}
